Node-Red Flow.json
[{"id":"4e614970.372e88","type":"tab","label":"Project","disabled":false,"info":""},{"id":"ddf23ea6.9e229","type":"mqtt out","z":"4e614970.372e88","name":"","topic":"#","qos":"","retain":"","broker":"e9c2f2c6.a0142","x":570,"y":360,"wires":[]},{"id":"a31e67ab.d9b9d8","type":"mqtt in","z":"4e614970.372e88","name":"","topic":"#","qos":"2","datatype":"auto","broker":"e9c2f2c6.a0142","x":230,"y":160,"wires":[["7dbe34ec.66f3fc"]]},{"id":"7dbe34ec.66f3fc","type":"ui_text","z":"4e614970.372e88","group":"c36cd98c.92b488","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":160,"wires":[]},{"id":"1b3c1b6d.36c205","type":"inject","z":"4e614970.372e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"#","payload":"Serial out test","payloadType":"str","x":250,"y":500,"wires":[[]]},{"id":"3d5743e9.2f927c","type":"serial in","z":"4e614970.372e88","name":"","serial":"26b76414.2e9e3c","x":290,"y":360,"wires":[["ddf23ea6.9e229"]]},{"id":"d14cbd52.b8be8","type":"mosca in","z":"4e614970.372e88","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":440,"y":60,"wires":[[]]},{"id":"e9c2f2c6.a0142","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c36cd98c.92b488","type":"ui_group","z":"","name":"Light Status","tab":"869cc2ed.c9546","order":1,"disp":true,"width":"6","collapse":false},{"id":"26b76414.2e9e3c","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"869cc2ed.c9546","type":"ui_tab","z":"","name":"Project","icon":"dashboard","disabled":false,"hidden":false}]